extends layout

block content
  h1= title
  p Bienvenido a #[em Libreria Local], mi primer tutorial de Node.js y Express.

  h1 Contenido Dinamico

  

    ul
      li #[strong Libros:] !{data.book_count}
      li #[strong Copias:] !{data.book_instance_count}
      li #[strong Copias disponibles:] !{data.book_instance_available_count} 
      li #[strong Autores:] !{data.author_count}
      li #[strong Generos:] !{data.genre_count}